<form class="form" [formGroup]="playerForm">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Nome do Jogador</label>
    <input type="email" formControlName="namePlayer" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">Insira o Nome e o Sobrenome, apenas.</div>
  </div>
<!--
  <div class="mb-3 form-check form-check-inline">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Classificatórias</label>
  </div>
  <div class="mb-3 form-check form-check-inline">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Eliminatórias</label>
  </div>
-->
<div class="row">
  <div class="col mb-3">
    <label for="exampleInputEmail1" class="form-label">Definir SET</label>
    <input type="email" class="form-control" id="inputSet" aria-describedby="emailHelp">
  </div>
  <div class=" col mb-3 game">
    <label for="exampleInputEmail1" class="form-label">Definir Game</label>
    <input type="email" class="form-control" id="inputGame" aria-describedby="emailHelp">
  </div>
</div>

  <div class="btn-salvar">
    <button type="button" (click)="onSubmit()" class="btn btn-light">Salvar</button>
  </div>

</form>


