
<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Jogador</th>
      <th scope="col">Set</th>
      <th scope="col">Pontos</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{playerCoreModel.IdPlayer}}</th>
      <td>{{playerCoreModel.NamePlayer}}</td>
      <td>7</td>
      <td>10</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Erick</td>
      <td>4</td>
      <td>10</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Ícaro</td>
      <td>3</td>
    </tr>
  </tbody>
</table>
