<div class="row">
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img src="assets/images/tenis-mesa.jpg" class="card-img-top" alt="foto-ping-pong">
      <div class="card-body">
        <h5 class="card-title">Configurar Campeonato</h5>
        <p class="card-text">Para alterar as configurações do jogo como: set, game, points.</p>
        <a routerLink="/championship" href="#" class="btn btn-dark">Configurar</a>
      </div>
    </div>
  </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img id="img-card" src="assets/images/rankk.jpg" class="card-img-top" alt="foto-ping-pong">
        <div class="card-body">
          <h5 class="card-title">Conferir Resultados</h5>
          <p class="card-text">Para acessar os jogadores, pontos e seus resultados.</p>
          <a routerLink="/results" href="#" class="btn btn-dark">Resultados</a>
        </div>
      </div>
    </div>
</div>
